body {
  background-color:#323332 ;
}
.ex {
  background-color: #d065ff;
  color: #8045a6;
  border-radius: 7px;
  border: 2px solid  #e100ff;
}

.empty {
  border-radius: 7px;
  border: 2px solid  #c3c3c3;
}

.oh {
  background-color: #6385fd;
  color: #4f6bac;
  border-radius: 7px;
  border: 2px solid #00bcc4;
  box-shadow: 0px 0px 8px 4px #00e9d94d;
}

.oh:hover {
  background-color: #4f6bac;
  color: #6385fd;
}

.empty:hover {
  color: #c4c6c9;
  // color: #828282;
  background-color:#d98ca0;
}

.ex:hover {
  background-color: #8045a6;
  color: #d065ff;
  box-shadow: 0px 0px 8px 4px #ca2bfe4d;
}
