.container {
  color: azure;
  background-color :#323232;
  display: flex;
  justify-content:center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}

h1, h2 {
  text-align: center;
}

main {
  display: grid;
  margin-left: auto;
  margin-right: auto;
  grid-template-columns: 200px 200px 200px;
}

app-square {
  border: 1px gray solid;
  height: 200px;
  border-radius: 7px;
}

button {
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: 25%;
  margin-left: 37.5%;
}
